import(nlme, drc, ggplot2, drcData)
importFrom("statmod", gauss.quad.prob)
importFrom("plyr", ldply)
importFrom("gtools", combinations)
importFrom("stats", AIC, BIC)
importFrom("multcomp", parm)
importFrom("stats", "as.formula", "coef", "coefficients", "logLik",
             "model.frame", "na.omit", "nobs", "numericDeriv", "predict",
             "qnorm", "resid", "sortedXyData", "vcov")
  importFrom("utils", "stack")
export(medrm, glsdrm, mmaED, mmaBMD, LL4.loged, LN4.loged, W14.loged, W24.loged, EDmarg, BMD, BMDmarg, BMDadjresp, mmplot)

S3method(print, medrc)
S3method(df.residual, medrc)
S3method(plot, medrc)
S3method(predict, medrc)
S3method(vcov, medrc)
S3method(summary, medrc)
S3method(residuals, medrc)
S3method(ranef, medrc)
S3method(VarCorr, medrc)
S3method(AIC, medrc)
S3method(BIC, medrc)
S3method(logLik, medrc)

S3method(print, glsdrc)
S3method(df.residual, glsdrc)
S3method(plot, glsdrc)
S3method(predict, glsdrc)
S3method(vcov, glsdrc)
S3method(summary, glsdrc)
S3method(residuals, glsdrc)
S3method(AIC, glsdrc)
S3method(BIC, glsdrc)
S3method(logLik, glsdrc)

