import(nlme, drc, drcData, ggplot2, metafor)
importFrom("statmod", gauss.quad.prob)
importFrom("plyr", ldply)
importFrom("gtools", combinations)
importFrom("stats", AIC, BIC, pnorm, dnorm)
importFrom("multcomp", parm)
importFrom("stats", "as.formula", "coef", "coefficients", "logLik",
             "model.frame", "na.omit", "nobs", "numericDeriv", "predict",
             "qnorm", "resid", "sortedXyData", "vcov", "ARMAacf", "cov2cor", "formula", "get_all_vars",
             "lm", "model.extract", "model.matrix", "model.response",
             "na.pass", "pchisq", "pf", "pt", "qt", "sigma", "toeplitz",
             "var", "printCoefmat")
importFrom("Matrix", Matrix, bdiag, symmpart, sparse.model.matrix, nearPD)
importFrom("utils", "stack")
export(medrm, glsdrm, metadrm, 
       mmaED, mmaBMD, 
       LL4.loged, LN4.loged, W14.loged, W24.loged, 
       EDmarg, BMD, BMDmarg, BMDadjresp, mmplot,
       meL.2, meL.3, meL.4, meL.5, 
       meLL.2, meLL.3, meLL.4, meLL.5, 
       meW1.2, meW1.3, meW1.4, 
       meW2.2, meW2.3, meW2.4, 
       meLN.2, meLN.3, meLN.4,
       meLLN.4,
       meAR.2, meAR.3,
       meEXD.2, meEXD.3)

S3method(print, medrc)
S3method(df.residual, medrc)
S3method(plot, medrc)
S3method(predict, medrc)
S3method(vcov, medrc)
S3method(summary, medrc)
S3method(residuals, medrc)
S3method(ranef, medrc)
S3method(VarCorr, medrc)
S3method(AIC, medrc)
S3method(BIC, medrc)
S3method(logLik, medrc)

S3method(print, glsdrc)
S3method(df.residual, glsdrc)
S3method(plot, glsdrc)
S3method(predict, glsdrc)
S3method(vcov, glsdrc)
S3method(summary, glsdrc)
S3method(residuals, glsdrc)
S3method(AIC, glsdrc)
S3method(BIC, glsdrc)
S3method(logLik, glsdrc)

S3method(vcov, metadrc)
S3method(df.residual, metadrc)
S3method(coef, metadrc)
S3method(coefficients, metadrc)
S3method(print, metadrc)
S3method(summary, metadrc)
S3method(confint, metadrc)